{% import _self as macros %}

<span onclick="gridPatternHandler.list();" class="btn btn-default">
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
    {{"back_to_patterns_list" | trans}}
</span>
<span id="pattern-save-btn" onclick="{{ pattern.id ? "gridPatternHandler.save()" : "gridPatternHandler.create()"}}" class="btn btn-primary">
    <i class="fa fa-floppy-o" aria-hidden="true"></i>
    {{ "save" | trans }}
</span>
{% if pattern.id %}
<span onclick="gridPatternHandler.delete({{ pattern.id }})" class="btn btn-xs btn-danger pull-right">
    <i class="fa fa-floppy-o" aria-hidden="true"></i>
    {{ "delete" | trans }}
</span>
{% endif %}

<hr/>

<form id="gridpattern" method="POST">
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_label(form.strings) }}
    <span class="btn btn-default btn-xs" onclick="gridPatternHandler.addString()" >
        <i class="fa fa-plus" aria-hidden="true"></i>
        {{ 'add_string' | trans }}
    </span>
    <ul class="list-group row" id="strings" data-prototype="{{ macros.strings_prototype(form.strings.vars.prototype)|e }}">
    {% for string in form.strings %}
	   {{ macros.strings_prototype(string) }}
    {% endfor %}
    </ul>
    <input type="hidden" id="pattern-id" name="pattern-id" value="{{ pattern.id }}"/>
    {{ form_widget(form._token) }}
</form>

{% macro strings_prototype(string) %}
<li class="col-md-6 list-group-item string">
    {{ form_widget(string.value) }}
    <span onclick="gridPatternHandler.removeString(this);" class="btn btn-danger btn-xs">
        <i class="fa fa-times" aria-hidden="true"></i>
    </span>
</li>
{% endmacro %}
