{% extends '::base.html.twig' %}

{% block title %}{{ 'rankings_and_stats' | trans }}{% endblock %}

{% block body -%}
    {% import _self as my_macros %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                {% include "MagicWordBundle:Common:backtohome.html.twig" %}
                {{ 'rankings' | trans }}
            </h4>
        </div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs  nav-justified" role="tablist">
            <li role="presentation" class="active"><a href="#massives" aria-controls="massives" role="tab" data-toggle="tab">{{ "massives" | trans }}</a></li>
            <li role="presentation"><a href="#challenges" aria-controls="challenges" role="tab" data-toggle="tab">{{"challenges" | trans }}</a></li>
            <li role="presentation"><a href="#ranking" aria-controls="ranking" role="tab" data-toggle="tab">{{ "ranking" | trans}}</a></li>
        </ul>

         <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="massives">
                <ul class="list-group">
                    {% for game in games if game.discr == "massive"%}
                    {{ my_macros.game_end_link(game) }}
                    {% endfor %}
                </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="challenges">
                <ul class="list-group">
                    {% for game in games if game.discr == "challenge"%}
                    {{ my_macros.game_end_link(game) }}
                    {% endfor %}
                </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="ranking">...</div>
        </div>
    </div>
{% endblock %}

{% macro game_end_link(game) %}
<li class="list-group-item">
    {% if game.discr == "massive" %}
        <a href="{{ path('massive_end', {"id": game.id}) }}">
            {{ game.name }} {% if game.description %}<span class="text-muted">({{ game.description }})</span>{% endif %}
        </a>
         par <a href="{{ path('profile', {"id":  game.author.id}) }}">{{ game.author }}</a>
    {% elseif game.discr == "challenge" %}
         {% set user = (game.challenged == app.user) ? game.author : game.challenged %}
         <a href="{{ path('challenge_end', {"id": game.id}) }}">{{"challenge"|trans}}</a>
         avec <a href="{{ path('profile', {"id":  user.id}) }}">{{ user }}</a>
    {% endif %}
</li>
{% endmacro %}
