{% extends '::base.html.twig' %}

{% block title %}{{ 'games_started' | trans }}{% endblock %}

{% block body -%}
{% import _self as my_macros %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            {% include "MagicWordBundle:Common:backtohome.html.twig" %}
            {{ 'games_started' | trans }}
            <span class="pull-right">
                <button type="button" class="btn btn-default btn-xs" data-order="asc" onclick="sorter.sort('gametype', this, '.games', '.game')">
                    <i class="fa fa-sort" aria-hidden="true"></i> {{ "gametype" | trans }}
                </button>
                <button type="button" class="btn btn-default btn-xs" data-order="asc" onclick="sorter.sort('popularity', this, '.games', '.game')">
                    <i class="fa fa-sort" aria-hidden="true"></i> {{ "popularity" | trans }}
                </button>
                <button type="button" class="btn btn-default btn-xs" data-order="asc" onclick="sorter.sort('roundCount', this, '.games', '.game')">
                    <i class="fa fa-sort" aria-hidden="true"></i> {{ "roundCount" | trans }}
                </button>
                <button type="button" class="btn btn-default btn-xs" data-order="asc" onclick="sorter.sort('author', this, '.games', '.game')">
                    <i class="fa fa-sort" aria-hidden="true"></i> {{ "author" | trans }}
                </button>
            </span>
        </h4>
    </div>
    <div class="panel-group games" id="accordion" role="tablist" aria-multiselectable="true">
        {% for game in games if game.discr != "training" %}
            {% set popularity = getActivityCount(game) %}
            {% set roundCount = game.rounds|length %}
            <div data-gametype="{{ game.discr }}" data-roundcount="roundCount" data-popularity="{{ popularity }}" data-author="{{ game.author }}" class="panel panel-default game">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        {{ my_macros.game_name(game) }}
                        <span class="pull-right">
                            {% if game.discr == "massive" %}
                            <span class="label label-info">{{ "popularity" | trans }}: {{ getActivityCount(game) }}</span>
                            <a class="btn btn-default btn-xs" role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ game.id }}" aria-expanded="true" aria-controls="{{ game.id }}">
                                <i class="fa fa-info" aria-hidden="true"></i> Infos
                            </a>
                            {% endif %}
                            {{ my_macros.game_play_link(game) }}
                        </span>
                    </h4>
                </div>
                {% if game.discr == "massive" %}
                <div id="{{ game.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <ul class="list-group">
                        {% for i, round in game.rounds %}
                        <li class="list-group-item">
                            <span class="label label-default">{{ round.discr | trans }}</span>
                            <span class="label label-default">{{ round.language.name | trans }}</span>
                            {% set order = i + 1 %}
                            {{ round.title ? round.title : "round" | trans  ~ " " ~ order }}
                            <span class="text-muted">{{ round.description ? "(" ~ round.description ~ ")" }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% macro game_play_link(game) %}
    {% if  game.discr == "massive" %}
        {% set url = path('massive_play', {"code": game.code}) %}
    {% else %}
        {% if game.rounds|length == 1 %}
            {% if game.author == app.user %}
            <a class="btn btn-default btn-xs" href="{{ path('challenge_cancel', {"id":  game.id}) }}">
                <i class="fa fa-ban" aria-hidden="true"></i> {{ "cancel" | trans}}
            </a>
            {% else %}
                <a class="btn btn-default btn-xs" href="{{ path('challenge_reply', {"id":  game.id}) }}">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i> {{ "accept_challenge" | trans}}
                </a>
                <a class="btn btn-default btn-xs" href="{{ path('challenge_decline', {"id":  game.id}) }}">
                    <i class="fa fa-thumbs-down" aria-hidden="true"></i> {{ "decline_challenge" | trans}}
                </a>
            {% endif %}
        {% else %}
            {% set url = path('challenge_continue', {"id": game.id}) %}
        {% endif %}
    {% endif %}
    {% if url is defined %}
        <a class="btn btn-default btn-xs" href="{{ url }}">
            <i class="fa fa-gamepad" aria-hidden="true"></i> {{ "play" | trans }}
        </a>
        <a class="btn btn-default btn-xs" href="{{ path('game_forfeit', {"id": game.id})}}">
            <i class="fa fa-times-circle" aria-hidden="true"></i> {{ "forfeit" | trans }}
        </a>
    {% endif %}
</li>
{% endmacro %}

{% macro game_name(game) %}
    {% if game.discr == "massive" %}
        <span class="label label-primary">{{ "massive" | trans }}</span>
        {{ game.name }} {% if game.description %}<span class="text-muted">({{ game.description }})</span>{% endif %}
        par <a href="{{ path('profile', {"id":  game.author.id}) }}">{{ game.author }}</a>
    {% elseif game.discr == "challenge" %}
        {% set user = (game.challenged == app.user) ? game.author : game.challenged %}
        <span class="label label-success">{{ "challenge" | trans }}</span>
        avec <a href="{{ path('profile', {"id":  user.id}) }}">{{ user }}</a>
        {% if game.message %}<span class="text-muted">({{ game.message }})</span>{% endif %}
    {% endif %}
</li>
{% endmacro %}
