{% import _self as my_macros %}

<div class="panel panel-default">
    <div class="panel-heading">
        &nbsp;
        <span class="pull-right">
            <span class="btn btn-default btn-xs" onclick="constraints.add()" >
                <i class="fa fa-plus" aria-hidden="true"></i>
                {{ 'add_constraint' | trans }}
            </span>
            {#
            <button type="button" class="btn btn-default  btn-xs" data-toggle="modal" data-target="#helper-constraint">
                <i class="fa fa-eye" aria-hidden="true"></i>
                {{ 'see_constraints' | trans }}
            </button>
            #}
        </span>
    </div>

    <ul class="list-group" id="constraints" data-prototype="{{ my_macros.constraints_prototype(form.constraints.vars.prototype)|e }}">
    {% for constraint in form.constraints %}
	      {{ my_macros.constraints_prototype(constraint) }}
    {% endfor %}
    </ul>
</div>

{% macro constraints_prototype(constraint) %}
<li class="list-group-item constraint-objective">
    <p>{{ form_label(constraint.numberToFind) }} : {{ form_widget(constraint.numberToFind) }}</p>
    <span class="constraint">{{ form_widget(constraint.category) }}</span>
    <span class="constraint">{{ form_widget(constraint.number) }}</span>
    <span class="constraint">{{ form_widget(constraint.gender) }}</span>
    <span class="verb-attributes">
        <span class="constraint">{{ form_widget(constraint.person) }}</span>
        <span class="constraint">{{ form_widget(constraint.tense) }}</span>
        <span class="constraint">{{ form_widget(constraint.mood) }}</span>
    </span>
    <span class="pull-right">
        <span onclick="objectives.remove(this);" class="btn btn-danger">
            <i class="fa fa-times" aria-hidden="true"></i>
        </span>
    </span>
</li>
{% endmacro %}
