{% import _self as my_macros %}

<div class="panel panel-default">
    <div class="panel-heading">
        &nbsp;
        <span class="pull-right">
            <span class="btn btn-default btn-xs" onclick="gridHandler.generate()">
                <i class="fa fa-cogs" aria-hidden="true"></i>
                {{ 'generate_grid' | trans }}
            </span>
            <span class="btn btn-default btn-xs" onclick="findwords.addWord()" >
                <i class="fa fa-plus" aria-hidden="true"></i>
                {{ 'add_findword' | trans }}
            </span>
        </span>
    </div>
    <ul class="list-group" id="words" data-prototype="{{ my_macros.findWord_prototype(form.findWords.vars.prototype)|e }}">
    {% for findWord in form.findWords %}
	      {{ my_macros.findWord_prototype(findWord) }}
    {% endfor %}
    </ul>
</div>

{% macro findWord_prototype(findWord) %}
<li class="list-group-item findWord">
    {{ form_widget(findWord.inflection) }}
    {{ form_widget(findWord.hint) }}
    {{ form_label(findWord.lemmaEnough) }}
    {{ form_widget(findWord.lemmaEnough) }}
    <span class="pull-right">
        <span class="btn btn-default disabled">
            <i class="fa fa-wikipedia-w" aria-hidden="true"></i>
        </span>
        <span onclick="objectives.remove(this);" class="btn btn-danger">
            <i class="fa fa-times" aria-hidden="true"></i>
        </span>
    </span>
</li>
{% endmacro %}
