{% extends '::base.html.twig' %}

{% block title %}{{ 'combopoints' | trans }}{% endblock %}

{% block body -%}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            {% include "MagicWordBundle:Common:backtohome.html.twig" %}
            {{ "combopoints" | trans }} -  {{ combopoint.length }}
        </h4>
    </div>
    <div class="panel-body">
    {{ form(form) }}
    </div>
</div>
{% endblock %}
