{% extends '::base.html.twig' %}

{% block body -%}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            {% include "MagicWordBundle:Common:backtohome.html.twig" %}
            {{ "combopoints" | trans }}
        </h4>
    </div>
    <ul class="list-group">
    {% for combopoint in combopoints %}
        <li class="list-group-item">
            {{ combopoint.length }} {{'forms'| trans}} - {{ combopoint.points }}pts
            <span class="pull-right">
              <a href="{{ path('combopoint_edit', {"id":  combopoint.id}) }}" class="btn btn-default btn-xs">
                  <i class="fa fa-pencil" aria-hidden="true"></i> Editer
              </a>
            </span>
        </li>
    {% endfor %}
    </ul>
</div>

{% endblock %}
