{% extends '::base.html.twig' %}

{% block title %}END ROUND{% endblock %}

{% block body -%}

{% set activities = getActivities(round) %}
{% set gameType = round.game.discr %}
{% set roundType = round.discr %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            Récapitulatif manche {{ round.displayOrder + 1 }} / {{ round.game.rounds|length}} - {{ gameType | trans }}
            <span class="pull-right">
                {% include "MagicWordBundle:Round/End:next-"~gameType~".html.twig" %}
            </span>
        </h4>
    </div>
    <div class="panel-body">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-8  col-sm-6  col-xs-12">
                {% include "MagicWordBundle:Round/End:summary.html.twig" %}
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    {% include "MagicWordBundle:Round/End:grid.html.twig" %}
                </div>
            </div>
        </div>

        <ul class="nav nav-tabs" role="tablist">
            {% if roundType == "rush" %}
            <li role="presentation" class="active">
                <a href="#found" aria-controls="found" role="tab" data-toggle="tab">
                {{ "found"|trans}}
                </a>
            </li>
            <li role="presentation">
                <a href="#foundables" aria-controls="foundables" role="tab" data-toggle="tab">
                {{ "existing_forms"|trans|capitalize}}
                </a>
            </li>
            <li role="presentation">
                <a href="#combos-done" aria-controls="combos-done" role="tab" data-toggle="tab">
                {{ "combos_done"|trans}}
                </a>
            </li>
            {% else %}
            <li role="presentation" class="active">
                <a href="#objectives" aria-controls="objectives" role="tab" data-toggle="tab">
                {{ "objectives"|trans}}
                </a>
            </li>
            {% endif %}
            <li role="presentation">
                <a href="#accuracy" aria-controls="accuracy" role="tab" data-toggle="tab">
                {{ "accuracy"|trans }}
                </a>
            </li>
            {% if gameType != "training" %}
            <li role="presentation">
                <a href="#ranking" aria-controls="ranking" role="tab" data-toggle="tab">
                {{ "ranking"|trans }}
                </a>
            </li>
            {% endif %}
        </ul>
        <div class="tab-content">
            {% if roundType == "rush" %}
            <div role="tabpanel" class="tab-pane fade in active" id="found" style="height:auto;">
                {% include "MagicWordBundle:Round/End:found-forms.html.twig" %}
            </div>
            <div role="tabpanel" class="tab-pane fade" id="foundables" style="height:auto;">
                {% include "MagicWordBundle:Round/End:foundable.html.twig" %}
            </div>
            <div role="tabpanel" class="tab-pane fade" id="combos-done" style="height:auto;">
                {% include "MagicWordBundle:Round/End:combos-done.html.twig" %}
            </div>
            {% else %}
            <div role="tabpanel" class="tab-pane fade in active" id="objectives" style="height:auto;">
                {% include "MagicWordBundle:Round/End:objectives.html.twig" %}
            </div>
            {% endif %}
            <div role="tabpanel" class="tab-pane fade" id="accuracy" style="height:auto;">
                {% include "MagicWordBundle:Round/End:accuracy.html.twig" %}
            </div>
            {% if gameType != "training" %}
            <div role="tabpanel" class="tab-pane fade" id="ranking" style="height:auto;">
                {% include "MagicWordBundle:Round/End:ranking.html.twig" %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts -%}
<script type="text/javascript" src="{{ asset('js/round.js') }}"></script>
{% endblock %}
