{% extends '::base.html.twig' %}

{% block body -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                {% include "MagicWordBundle:Common:backtohome.html.twig" %}
                {{ 'wordbox' | trans }}
                {{ player is defined ? ' - '~player.username~' - ' }}
                <strong>{{ language.name | trans }}</strong>
                ({{ acquisitions|length }})
            </h4>
        </div>
        <ul class="list-group">
        {% for acquisition in acquisitions %}
            <li class="list-group-item">
                <a href="{{ path('lemma', {"id":  acquisition.lemma.id }) }}">{{ acquisition.lemma.content }}</a> ({{ acquisition.lemma.category.value | trans}})
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
