{% extends '::base.html.twig' %}

{% block body -%}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            {% include "MagicWordBundle:Common:backtohome.html.twig" %}
            {{ 'profile_of' | trans }} {{ user.username }}
            <span class="pull-right">
                {% if user == app.user %}
                    <a class="btn btn-default" href="{{ path('profile_edit') }}">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        {{ 'edit_profile' | trans }}
                    </a>
                {% else %}
                    <a class="btn btn-default" href="{{ path('challenge_someone', {"id":  user.id}) }}">
                        <i class="fa fa-bolt" aria-hidden="true"></i>
                        {{ 'challenge!' | trans }}
                    </a>
                    {% if user in app.user.friends %}
                        <a class="btn btn-default" href="{{ path('remove_friend', {"id":  user.id}) }}">{{ 'remove__from_friends' | trans }}</a>
                    {% else %}
                        <a class="btn btn-default" href="{{ path('add_friend', {"id":  user.id}) }}">{{ 'add_to_friends' | trans }}</a>
                    {% endif %}
                {% endif %}
            </span>
        </h4>
    </div>
    <div class="panel-body">
    {% if user.profilepicPath %}
        <h4> {{ "profile_pic" | trans }} </h4>
        <img height="200px" src="{{ asset('upload/profilepic/' ~ user.profilepicPath) }}"/>
        <hr/>
    {% endif %}
    {% if user.profileText %}
        <h4> {{ "profile_text" | trans }} </h4>
        <i class="fa fa-quote-left" aria-hidden="true"></i>
        {{ user.profileText }}
        <i class="fa fa-quote-right" aria-hidden="true"></i>
        <hr/>
    {% endif %}
    {% if app.user == user or user.displayMail %}
    <h4> {{ "profile_email" | trans }} </h4>
    {{ user.email }}
    <hr/>
    {% endif %}
    
    <h4>{{ 'wordbox' | trans }}</h4>
    {% set languages = get_languages() %}
    {% for language in languages %}
    <a href="{{ path('wordbox_user', {playerId:user.id, languageId: language.id}) }}">
        {{ language.name | trans }}
    </a>
    {% endfor %}

  </div>
</div>
{% endblock %}
