{% import "MagicWordBundle:FoundableForm:macros.html.twig" as macros %}

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             {{ activity.foundForms|length}} {{ "forms_found" | trans }} / {{round.grid.foundableForms|length}} {{ "existing_forms" | trans }}
                             <span class="pull-right">
                                <button type="button" class="btn btn-default btn-xs" data-order="asc" onclick="sorter.sort('percent', this, '#founded', '#founded div.foundable')">
                                    <i class="fa fa-sort" aria-hidden="true"></i> %
                                </button>
                                <button type="button" class="btn btn-default btn-xs" data-order="asc" onclick="sorter.sort('form', this, '#founded', '#founded div.foundable')">
                                    <i class="fa fa-sort" aria-hidden="true"></i> A-Z
                                </button>
                                <button type="button" class="btn btn-default btn-xs" data-order="asc" onclick="sorter.sort('points', this, '#founded', '#founded div.foundable')">
                                    <i class="fa fa-sort" aria-hidden="true"></i> Points
                                </button>
                                <button type="button" class="btn btn-default btn-xs" data-order="asc" onclick="sorter.sort('length', this, '#founded', '#founded div.foundable')">
                                    <i class="fa fa-sort" aria-hidden="true"></i> Longueur
                                </button>
                             </span>
                        </div>
                    </div>
                    <div id="founded" class="row">
                    {% for foundable in activity.foundForms %}
                    {{ macros.foundableComplete(foundable, activity, activities, "found") }}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
