{% import "MagicWordBundle:FoundableForm:macros.html.twig" as macros %}

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{round.grid.foundableForms|length}} {{ "existing_forms" | trans }}
                            <span class="pull-right">
                               <button type="button" class="btn btn-default btn-xs" data-order="asc" onclick="sorter.sort('percent', this, '#foundable', '#foundable div.foundable')">
                                   <i class="fa fa-sort" aria-hidden="true"></i> %
                               </button>
                               <button type="button" class="btn btn-default btn-xs" data-order="asc" onclick="sorter.sort('form', this, '#foundable', '#foundable div.foundable')">
                                   <i class="fa fa-sort" aria-hidden="true"></i> A-Z
                               </button>
                               <button type="button" class="btn btn-default btn-xs" data-order="asc" onclick="sorter.sort('points', this, '#foundable', '#foundable div.foundable')">
                                   <i class="fa fa-sort" aria-hidden="true"></i> Points
                               </button>
                               <button type="button" class="btn btn-default btn-xs" data-order="asc" onclick="sorter.sort('length', this, '#foundable', '#foundable div.foundable')">
                                   <i class="fa fa-sort" aria-hidden="true"></i> Longueur
                               </button>
                            </span>
                        </div>
                    </div>
                    <div id="foundable" class="row">
                    {% for foundable in round.grid.foundableForms %}
                    {{ macros.foundableComplete(foundable, activity, activities, "foundable") }}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
