{% macro percent(foundable, activities) %}
  {% import _self as my_macros %}
    {% set found = 0 %}
    {% for a in activities %}
        {% if foundable in a.foundForms %}
            {% set found = found + 1 %}
        {% endif %}
    {% endfor %}
    {{ activities|length > 0 ? ((found / activities|length) * 100)|round : 0 }}%
{% endmacro %}

{% macro foundableComplete(foundable, activity, activities, type) %}
  {% import _self as my_macros %}
  {% set percent = my_macros.percent(foundable, activities) %}
  <div class="col-md-4 foundable" data-form="{{ foundable.form }}" data-points="{{ foundable.points }}" data-percent="{{ percent }}" data-length="{{ foundable.form|length }}">
      <div class="panel panel-default">
          <div class="panel-heading " role="tab">
              <h4 class="panel-title {% if activity and foundable in activity.foundForms and type == "foundable" %}bg-success{% endif %} ">
                   <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ foundable.id ~ type}}" aria-expanded="true" aria-controls="{{ foundable.id }}">
                       {{ foundable.form | upper }} <span class="text-muted">({{ foundable.points}})</span>
                       <span class="pull-right">
                          <span class="label label-default">{{ percent }}</span>
                       </span>
                  </a>
              </h4>
          </div>
          <div id="{{ foundable.id  ~ type }}" class="panel-collapse collapse" role="tabpanel">
              <div class="list-group" >
                  {% for inflection in foundable.inflections %}
                  <li class="list-group-item">
                      {{ inflection.content }}
                      ({{ inflection.lemma.content }} - <span class="text-muted">{{ inflection.lemma.category ? inflection.lemma.category.value | trans }}</span>)
                      <span class="pull-right">
                          <span class="btn btn-default btn-xs" onClick="wiktionnary.getDef('{{ inflection.lemma.content }}', '{{ foundable.grid.language.name |slice(0,2) }}')">
                              <i class="fa fa-wikipedia-w" aria-hidden="true"></i>
                          </span>
                          {% if isInWordbox(inflection.lemma) == false %}
                          <span class="btn btn-default btn-xs" onclick="addToWordbox({{ inflection.lemma.id }}, this);">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                          </span>
                          {% endif %}
                      </span>
                  </li>
                  {% endfor %}
              </div>
          </div>
      </div>
  </div>
{% endmacro %}

{% macro foundableShort(foundable, activities) %}
  {% import _self as my_macros %}
  {% set percent = my_macros.percent(foundable, activities) %}
  <div class="sortable" style="margin-bottom:2px" data-form="{{ foundable.form }}" data-points="{{ foundable.points }}" data-percent="{{ percent }}" data-length="{{ foundable.form|length }}">
      <div style="float:left; width:80px">
          <div class="label label-default">{{ percent }}</div> &nbsp;
          <span class="btn btn-default btn-xs" onClick="wiktionnary.getDef('{{ foundable.inflections[0].lemma.content }}', '{{ foundable.grid.language.name |slice(0,2) }}')">
              <i class="fa fa-wikipedia-w" aria-hidden="true"></i>
          </span>
      </div>
      {{ foundable.form | upper }} <span class="text-muted">({{ foundable.points}}pts)</span>
  </div>
{% endmacro %}
